body{
  margin:0;
  height: 1000px;

}
.banner{
  position: relative;
  margin: 0;
  width: 100%;
  background-image: url("../images/image-one.jpg");
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  height: 500px;
  opacity: 1;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  color:white;
}
.banner-text{
  position: absolute;
  top: 60%;
  left:22%;
  text-transform: uppercase;
}
.content{
  width: 1170px;
  margin:auto;
  text-align: center;
}
.content h2{
  font-size: 50px;
  text-transform: uppercase;
}